{{define "error_title"}}
    error
{{end}}

{{define "error_base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "error_title" .}}</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <h1>{{.status}}</h1>
            <img id="error_image", class="error_image" src="/error_img.png">
            <h2>{{.message}}</h2>
        </header>
        <hr>
        {{template "footer" .}}
    </body>
</html>
{{end}}

{{template "error_base" .}}