{{define "replytable"}}
    <table>
        <tbody>
            <tr>
                <input type="hidden" name="_csrf" value="{{.XCSRF_TOKEN}}">
                <td class="postblock">
                    Comment:
                </td>
                <td>
                    <textarea 
                        name="text" 
                        placeholder="Comment" 
                        rows="4" cols="48" 
                        minlength="3" 
                        maxlength="1500" 
                        required=""></textarea>
                </td>
            </tr>
            <tr>
                <td class="postblock">
                    Files:
                </td>
                <td>
                    <input type="file" name="files" multiple>
                </td>
            </tr>
            {{captcha}}
            <tr>
                <td></td>
                <td> <input type="submit" value="Post"></td>
            </tr>
        </tbody>
    </table>
{{end}}

{{/* Use top-level */}}
{{define "threadform"}}
<form id="threadform" action="/{{.Board.Slug}}/newthread" method="POST" enctype="multipart/form-data">
    {{template "replytable" .}}
</form>
{{end}}

{{/* Use top-level */}}
{{define "replyform"}}
<form id="postform" action="/{{.OP.Board}}/thread/{{.OP.No}}/reply" method="POST" enctype="multipart/form-data">
    {{template "replytable" .}}
</form>
{{end}}
